.chat-room-page-container {
  padding: 20px;
}

.section {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.section h3 {
  margin-top: 0;
}

.section ul {
  list-style-type: none;
  padding: 0;
}

.section li {
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

.section input {
  width: calc(100% - 70px);
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.section button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.section3 button:hover {
  background-color: #0056b3;
}
