body {
  font-family: 'LINESeedKR-Bd', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f2f5;
}

.article-container {
  width: 40%;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  max-width: calc(100% - 40px);
  max-height: calc(100vh - 120px);
  overflow-y: auto;
}

.article-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.article-header-container{
  flex:1;
}

.article-header h1 {
  margin-bottom: 20px;
  font-size: 24px;
}

.article-info {
  font-size: 14px;
  color: #65676b;
}

.article-content {
  margin-bottom: 20px;
  line-height: 1.6;
}


.post-actions{
  display: flex;
  justify-content: flex-start;
}

.editButton,
.deleteButton {
  font-family: 'LINESeedKR-Bd', sans-serif;
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.editButton {
  background-color: #7FA1C3;
  color: white;
}

.deleteButton {
  background-color: gray;
  color: white;
}

.post-actions button:hover {
  opacity: 0.9;
}


.comments-section {
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.comment-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  resize: vertical;
}

.comment-form button {
  font-family: 'LINESeedKR-Bd', sans-serif;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #E2DAD6;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.comment-form button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.comments {
  margin-top: 20px;
}

.comment {
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
  padding: 10px 0;
}

.comment-button-container {
  display: flex;
  justify-content: flex-start;
}

.comment-button-container button {
  margin-right: 0.5em;
}

.comment-content {
  margin: 0;
  line-height: 1.6;
}

.comment-content:empty::before {
  content: 'No Content';
  color: #aaa;
}

.comment button{
  font-family: 'LINESeedKR-Bd', sans-serif;
  background-color: #cccccc;
  margin-right: 10px;
  color: black;
  height: 30px;
  width: 70px;
}

.pagination {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pagination button {
  width: 70px;
  height: 30px;
  display: flex;
  align-items: center;
  background-color: #DDE6ED;
  color: black;
  justify-content: center;
  font-size: 16px;
}

.pagination span {
  font-size: 16px;
}

.article-header h1{
  text-align: left;
}

.article-content p{
  white-space: pre-line;
}

.back-btn {
  background-color: #fff;
  color: #0F1035;
  border: 2px solid #0F1035;
}

.back-btn:hover {
  background-color: gray;
  color: #fff;
  border: 2px solid gray;
}