body {
  font-family: 'LINESeedKR-Bd', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f2f5;
}

/* Main Content Styles */
.article-container {
  width: 40%;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed; /* 화면의 특정 위치에 고정 */
  top: 100px; /* 화면 상단에서 100px 떨어진 위치 */
  left: 50%; /* 화면 중앙 */
  transform: translateX(-50%); /* 중앙 정렬 */
  max-width: calc(100% - 40px); /* 화면 너비를 넘어가지 않도록 설정 (여백 추가 고려) */
  max-height: calc(100vh - 120px); /* 최대 높이를 설정하여 콘텐츠가 너무 많아질 때 화면을 넘지 않도록 설정 */
  overflow-y: auto;
}

.article-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.article-header-container{
  flex:1;
}

.article-header h1 {
  margin-bottom: 20px;
  font-size: 24px;
}

.article-info {
  font-size: 14px;
  color: #65676b;
}

.article-content {
  margin-bottom: 20px;
  line-height: 1.6;
}


/* Post Actions (Edit/Delete) */
.post-actions{
  display: flex;
  justify-content: flex-start;
}

.editButton,
.deleteButton {
  font-family: 'LINESeedKR-Bd', sans-serif;
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.editButton {
  background-color: #7FA1C3;
  color: white;
}

.deleteButton {
  background-color: gray;
  color: white;
}

.post-actions button:hover {
  opacity: 0.9;
}


/* Comments Section Styles */
.comments-section {
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.comment-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  resize: vertical; /* Allow vertical resizing */
}

.comment-form button {
  font-family: 'LINESeedKR-Bd', sans-serif;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #E2DAD6;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.comment-form button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.comments {
  margin-top: 20px;
}

.comment {
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
  padding: 10px 0;
}

.comment-button-container {
  display: flex; /* 수평 정렬을 위한 flexbox 설정 */
  justify-content: flex-start; /* 버튼의 정렬 방식 조정 (필요에 따라 'center' 또는 'space-between'으로 변경 가능) */
}

.comment-button-container button {
  margin-right: 0.5em; /* 버튼 간의 간격을 주기 위해 margin 추가 */
}


.comment-content {
  margin: 0;
  line-height: 1.6;
}

.comment-content:empty::before {
  content: 'No Content';
  color: #aaa;
}

.comment button{
  font-family: 'LINESeedKR-Bd', sans-serif;
  background-color: #cccccc;
  margin-right: 10px;
  color: black;
  height: 30px;
  width: 70px;
}

.pagination {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* 버튼 사이에 간격을 추가합니다. */
}

.pagination button {
  width: 70px;
  height: 30px; /* 버튼의 높이도 지정합니다. */
  display: flex;
  align-items: center;
  background-color: #DDE6ED;
  color: black;
  justify-content: center;
  font-size: 16px; /* 버튼의 글자 크기를 조정합니다. */
}

.pagination span {
  font-size: 16px; /* 페이지 정보를 표시하는 글자 크기를 조정합니다. */
}

.article-header h1{
  text-align: left;
}

.back-btn {
  background-color: #fff; /* 배경색을 흰색으로 설정 */
  color: #0F1035; /* 글자색을 파란색으로 설정 */
  border: 2px solid #0F1035; /* 테두리 색상을 파란색으로 설정 */
}

.back-btn:hover {
  background-color: gray; /* 배경색을 회색으로 설정 */
  color: #fff; /* 글자색을 흰색으로 설정 */
  border: 2px solid gray; /* 테두리 색상은 회색으로 설정 */
}