/* CodeReviewWrite.css */

.code-review-write-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
}

.white-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 1; /* 컨테이너가 화면을 채우도록 설정 */
  margin-bottom: 20px; /* 버튼과의 간격을 확보 */
}

h2 {
  font-size: 30px;
  color: blue;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px; /* 입력 필드 간의 간격을 증가시킵니다 */
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input, textarea {
  width: 95%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

textarea {
  resize: none; /* 내용 칸 크기 고정 */
}

#contents {
  height: 150px; /* 내용 칸 높이 고정 */
}

#code {
  margin-bottom: 30px; /* 코드 입력 칸과 버튼 간의 간격을 확보 */
}

.form-buttons {
  display: flex;
  justify-content: space-between; /* 버튼 사이에 간격을 둡니다 */
  margin-top: -10px; /* 코드 입력 칸과의 간격 조정 */
}

.submit-btn, .back-btn {
  padding: 10px 15px;
  font-size: 14px; /* 글씨 크기를 조절합니다 */
  width: 48%; /* 버튼의 너비를 48%로 설정하여 양쪽에 여유 공간 확보 */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-btn {
  background-color: #0056b3;
  color: #fff;
}

.submit-btn:hover {
  background-color: blue;
}

.back-btn {
  background-color: #fff; /* 배경색을 흰색으로 설정 */
  color: #007bff; /* 글자색을 파란색으로 설정 */
  border: 2px solid #007bff; /* 테두리 색상을 파란색으로 설정 */
}

.back-btn:hover {
  background-color: gray; /* 배경색을 회색으로 설정 */
  color: #fff; /* 글자색을 흰색으로 설정 */
  border: 2px solid gray; /* 테두리 색상은 회색으로 설정 */
}
