.code-review-write-container {
  padding: 20px;
  font-family: 'LINESeedKR-Bd', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
}

.white-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 1;
  margin-bottom: 20px;
}

h2 {
  font-size: 30px;
  color: black;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input, textarea {
  width: 95%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

textarea {
  resize: none;
}

#contents {
  height: 150px;
}

#code {
  margin-bottom: 30px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: -10px;
}

.submit-btn, .back-btn {
  padding: 10px 15px;
  font-size: 14px;
  width: 48% !important;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
}

.submit-btn {
  background-color: #9DB2BF;
  color: #fff;
}

.submit-btn:hover {
  background-color: #526D82;
}

.back-btn {
  background-color: #fff;
  color: #27374D;
  border: 2px solid #9DB2BF;
}

.back-btn:hover {
  background-color: #526D82;
  color: #fff;
  border: 2px solid gray;
}
