.container {
  width: 80%;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed; /* 화면의 특정 위치에 고정 */
  top: 100px; /* 화면 상단에서 100px 떨어진 위치 */
  left: 50%; /* 화면 중앙 */
  transform: translateX(-50%); /* 중앙 정렬 */
  max-width: calc(100% - 40px); /* 화면 너비를 넘어가지 않도록 설정 (여백 추가 고려) */
  max-height: calc(100vh - 120px); /* 최대 높이를 설정하여 콘텐츠가 너무 많아질 때 화면을 넘지 않도록 설정 */
  overflow-y: auto;
}

.container-header{
  display: flex;
  justify-content: space-between;
}

.codeKatasList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.codeKataItem {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.button, .createButton {
  font-family: 'LINESeedKR-Bd', sans-serif;
  background-color: #93BFCF;
  margin-right: 15px;
  color: #27374D;
  border: none;
  width: 150px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.button:hover, .createButton:hover {
  background-color: #9DB2BF;
}

.createButton {
  margin-bottom: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
  font-size: 14px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination button:hover {
  background-color: #ccc;
}

.pagination .activePage {
  background-color: #007bff;
  color: #fff;
}
