.container {
  width: 80%;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed; /* 화면의 특정 위치에 고정 */
  top: 100px; /* 화면 상단에서 100px 떨어진 위치 */
  left: 50%; /* 화면 중앙 */
  transform: translateX(-50%); /* 중앙 정렬 */
  max-width: calc(100% - 40px); /* 화면 너비를 넘어가지 않도록 설정 (여백 추가 고려) */
  max-height: calc(100vh - 120px); /* 최대 높이를 설정하여 콘텐츠가 너무 많아질 때 화면을 넘지 않도록 설정 */
  overflow-y: auto;
}

.container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; /* 텍스트와 다른 인라인 요소들도 중앙에 정렬됨 */
  margin: 0 auto; /* 수평 중앙 정렬 */
}

.container-form h2{
  margin-bottom: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

.container-form label{
  margin-top: 20px;
  align-self: flex-start;
  margin-left: 220px;
}

input, select, textarea {
  width: 70%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.container-form textarea{
  width: 70%;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttonContainer{
  display: flex;
  justify-content: flex-start;
  gap:10px;
}

.createButton {
}

.cancelButton {
}


button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #93BFCF;
  color: #27374D;
  cursor: pointer;
}



button:hover {
  opacity: 0.9;
}
