.top-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #007bff;
    padding: 0.5em;
    display: flex;
    justify-content: flex-end;
}
button {
    font-family: 'LINESeedKR-Bd', sans-serif;
    width: 100%;
    padding: 0.5em 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.top-menu button {
    margin-left: 0.5em;
    background-color: white;
    color: #007bff;
    width: auto;
}